.recipeItem {
  box-shadow: 0px 5px 15px -5px #777777;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  &Content {
    padding: 12px 20px 14px;
  }

  &Img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  &Ttl {
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 4px;
  }

  &Pps,
  &Time,
  &Tag {
    font-size: 12px;
  }

  .recipeItemPps {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &Info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 16px;

    .userInfo {
      display: flex;
      align-items: center;
      gap: 10px;

      .userIcon {
        width: 40px;
        height:40px;
        object-fit: cover;
        border-radius: 20px;
      }
      .userName {
        font-size: 14px;
        font-weight: 700;
      }
    }

    .recipeStar {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.recipeItemCategory {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  color: #666;
}

.recipeItemCategory.category-楽器 {
  border-color: #ff8a65;
  color: #ff8a65;
}
.recipeItemCategory.category-語学 {
  border-color: #42a5f5;
  color: #42a5f5;
}
.recipeItemCategory.category-運動・ボディメイク {
  border-color: #66bb6a;
  color: #66bb6a;
}
.recipeItemCategory.category-プログラミング {
  border-color: #ab47bc;
  color: #ab47bc;
}
.recipeItemCategory.category-資格・学習 {
  border-color: #ffa726;
  color: #ffa726;
}
.recipeItemCategory.category-ビジネススキル {
  border-color: #3949ab;
  color: #3949ab;
}
.recipeItemCategory.category-趣味・創作 {
  border-color: #ef5350;
  color: #ef5350;
}
.recipeItemCategory.category-旅行・アウトドア {
  border-color: #26c6da;
  color: #26c6da;
}
.recipeItemCategory.category-ゲーム {
  border-color: #7e57c2;
  color: #7e57c2;
}
.recipeItemCategory.category-投資・お金 {
  border-color: #8d6e63;
  color: #8d6e63;
}
.recipeItemCategory.category-習慣化チャレンジ {
  border-color: #757575;
  color: #757575;
}
.recipeItemCategory.category-生活スキル・家事 {
  border-color: #9e9e9e;
  color: #9e9e9e;
}
.recipeItemCategory.category-美容・セルフケア {
  border-color: #ec407a;
  color: #ec407a;
}
