

.recipes {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

header {
  top: 0;
  max-width: 500px;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.recipeContainer {
  padding: 110px 16px 120px;
  max-width: 500px;
  margin: 8px auto;

  .add-btn {
    z-index: 1;
    position: fixed;
    bottom:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 30px;
    background-color: #6C63FF;
    color:white;
    cursor: pointer;
    
  @media (min-width: 501px) {
    left: calc(50% + 200px); 
    transform: translateX(-100%);
  }
  @media (max-width: 500px) {
    right: 12%;
  }
}

  .recipeSearch {
    margin-bottom: 12px;

    input {
      padding-left: 8px;
      width: 98%;
      height: 40px;
      outline: none;
      border: none;
      background-color: #e6e6e6;
      border-radius: 10px;
    }
  }

  .recipeInfo {
    display: flex;
    align-items: center; // ← 高さをそろえる
    justify-content: space-between;
    margin-bottom: 16px;
  
    .count {
      display: flex;
      align-items: center;
      font-size: 16px;
  
      .number {
        font-weight: bold;
        margin-right: 4px;
      }
    }
  
    .recipeSortButtons {
      display: flex;
      gap: 8px;
  
      .sortBtn {
        padding: 6px 12px;
        font-size: 14px;
        border: none;
        border-radius: 20px;
        background-color: #eee;
        cursor: pointer;
        transition: all 0.2s ease;
  
        &.active {
          background-color: #4caf50;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
